.provider-network {
  .select-my {
    label {
      padding: 0px 4px;
      border: 1px solid #cccccc;
      font-size: 12px;
      border-radius: 3px;
      margin-left: 4px;
      margin-top: 4px;
      font-weight: bold;
      color: #5555ff !important;
      background-color: #fff;
      cursor: pointer;

      &.selected {
        color: #000 !important;
        background-color: #f1ce74;
      }
    }
  }

  .list {
    margin-bottom: 30px;
  }

  .list {
    .cell-0,
    .cell-1 {
      max-width: 34px !important;
      svg {
        font-size: 18px;
      }
    }
    .cell-2 {
      display: inline-block !important;
      color: #2c84f3;
      flex: 5 !important;
    }
    .cell-3 {
      max-width: 100px !important;
      display: inline-block;
      padding-top: 17px;
    }
  }
}
